@model Casgem_CodeFirstProje.DAL.Entities.Guide

@{
    ViewBag.Title = "UpdateGuide";
    Layout = "~/Views/Admin/Index.cshtml";
}


<h2>Rehber Güncelleme Sayfası</h2>



<form method="post">
    @Html.HiddenFor(x=>x.GuideID)
    <label>Rehber Ad Soyad: </label>
    @Html.TextBoxFor(x => x.GuideName, new { @class = "form-control" })
    <br />

    <label>Rehber Ünvanı: </label>
    @Html.TextBoxFor(x => x.GuideTitle, new { @class = "form-control" })
    <br />

    <label>Rehber Fotoğraf URL: </label>
    @Html.TextBoxFor(x => x.GuideImageURL, new { @class = "form-control" })
    <br />

    <button class="btn btn-warning">Güncelle</button>
</form>

