<section class="w3l-contact-info-main" id="contact">
    <div class="contact-sec	editContent">
        <div class="container">
            <div class="map-content-9 mb-5 ">
                <form action="/Contact/PartialForm/" method="post">
                    <div class="twice-two">
                        <input type="text" class="form-control" name="NameSurname" id="w3lName" placeholder="Adınız" required="">
                        <input type="email" class="form-control" name="Mail" id="w3lSender" placeholder="Mail Adresiniz" required="">
                        <input type="text" class="form-control" name="Subject" id="w3lSubject" placeholder="Konu" required="">
                    </div>
                    <textarea name="Message" class="form-control" id="w3lMessage" placeholder="Mesajınız" required=""></textarea>

                    <div class="text-right">
                        <button type="submit" class="btn btn-contact">Mesaj Gönder</button>
                    </div>
                </form>
            </div>

            <div class="d-grid contact-view">

                <div class="cont-details">
                    <h3 class="sub-title">Hızlı İletişim</h3>
                    <p class="para mt-3 mb-4">Aşağıda bulunan iletişim yollarından bizlere ulaşabilirsiniz.</p>
                    <div class="cont-top">
                        <div class="cont-left text-center">
                            <span class="fa fa-phone text-secondary"></span>
                        </div>
                        <div class="cont-right">
                            <p class="para"><a href="tel:+90 507 099 61">+90 507 099 41 61 </a></p>
                        </div>
                    </div>
                    <div class="cont-top margin-up">
                        <div class="cont-left text-center">
                            <span class="fa fa-envelope-o text-secondary"></span>
                        </div>
                        <div class="cont-right">
                            <p class="para"><a href="mailto:hayditatile@gmail.com" class="mail">hayditatile@gmail.com</a></p>
                        </div>
                    </div>
                    <div class="cont-top margin-up">
                        <div class="cont-left text-center">
                            <span class="fa fa-map-marker text-secondary"></span>
                        </div>
                        <div class="cont-right">
                            <p class="para">
                                Ankara,Yenimahalle
                            </p>
                        </div>
                    </div>
                </div>

                <div class="map-iframe ">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d195585.53544307142!2d32.565076409282334!3d40.007911672710186!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14d339af184d2c35%3A0x68c6ca9b5d4e578f!2sYenimahalle%2FAnkara!5e0!3m2!1str!2str!4v1689540788830!5m2!1str!2str" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>

        </div>
    </div>
</section>
