<section class="w3l-services-two" id="services">
    <div class="service-single-page editContent">
        <div class="container">
            <div class="gallery-image row">
                <div class="img-box col-lg-4 col-md-6">
                    <img src="/Templates/go-trip-starter/assets/images/istanbul.jpg" alt="product" class="img-responsive ">
                    <h5 class="mt-2"><a href="about.html">İstanbul</a></h5>
                    <p class="para">4 Tur Mevcut</p>
                </div>
                <div class="img-box col-lg-4 col-md-6">
                    <img src="/Templates/go-trip-starter/assets/images/bursa.jpg" alt="product" class="img-responsive ">
                    <h5 class="mt-2"><a href="about.html">Bursa</a></h5>
                    <p class="para">9 Tur Mevcut</p>
                </div>
                <div class="img-box col-lg-4 col-md-6">
                    <img src="/Templates/go-trip-starter/assets/images/izmir.jpg" alt="product" class="img-responsive ">
                    <h5 class="mt-2"><a href="about.html">İzmir</a></h5>
                    <p class="para">10 Tur Mevcut</p>
                </div>
                <div class="img-box col-lg-4 col-md-6">
                    <img src="/Templates/go-trip-starter/assets/images/adana.jpg" alt="product" class="img-responsive ">
                    <h5 class="mt-2">
                        <a href="about.html">
                            Adana
                        </a>
                    </h5>
                    <p class="para">3 Tur Mevcut</p>
                </div>
                <div class="img-box col-lg-4 col-md-6">
                    <img src="/Templates/go-trip-starter/assets/images/usak.jpeg" alt="product" class="img-responsive ">
                    <h5 class="mt-2"><a href="about.html">Uşak</a></h5>
                    <p class="para">2 Tur Mevcut</p>
                </div>
                <div class="img-box col-lg-4 col-md-6">
                    <img src="/Templates/go-trip-starter/assets/images/trabzon.jpg" alt="product" class="img-responsive ">
                    <h5 class="mt-2"><a href="about.html">Trabzon</a></h5>
                    <p class="para">5 Tur Mevcut</p>
                </div>

            </div>
        </div>
    </div>
</section>
