
<section class="w3l-recent-work-hobbies" id="services">
    <div class="recent-work editContent">
        <div class="container">
            <div class="row service-service">
                <div class="col-lg-4 col-md-6 propClone about-line-top ">
                    <div class="color-white editContent">
                        <div class="icon-back"><span class="fa fa-plane"></span></div>

                        <h5>
                            <a href="#url" class="editContent">
                                Hava Ulaşımı
                            </a>
                        </h5>
                        <p class="para editContent">
                            Uzak olan noktalara uçak ile ulaşım sağlanmaktadır
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 propClone about-line-top ">
                    <div class="color-white editContent">
                        <div class="icon-back"><span class="fa fa-bus"></span></div>

                        <h5><a href="#url" class="editContent">Kara Ulaşımı</a></h5>
                        <p class="para editContent">
                            Müşteri tercihine göre otobüs ile ulaşım sağlanabilir
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 propClone about-line-top ">
                    <div class="color-white editContent">
                        <div class="icon-back">  <span class="fa fa-handshake-o"></span></div>

                        <h5><a href="#url" class="editContent">Müşteri Memnuniyeti</a></h5>
                        <p class="para editContent">
                            %100 müşteri memnuniyeti
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 propClone about-line-top ">
                    <div class="color-white editContent">
                        <div class="icon-back">   <span class="fa fa-random"></span></div>

                        <h5>
                            <a href="#url" class="editContent">
                                Rehber Hizmeti
                            </a>
                        </h5>
                        <p class="para editContent">
                            Bölgeye hakim rehberler tarafından bilgi aktarımı sağlanır
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 propClone about-line-top ">
                    <div class="color-white editContent">
                        <div class="icon-back"> <span class="fa fa-smile-o"></span></div>

                        <h5><a href="#url" class="editContent">Seyehat Sigortası</a></h5>
                        <p class="para editContent">
                            Seyehat sırasında yaşanacak her türlü olumsuz durumu kapsayan seyehat sigortası yapılır
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 propClone about-line-top ">
                    <div class="color-white editContent">
                        <div class="icon-back"><span class="fa fa-building"></span></div>
                        <h5><a href="#url" class="editContent">Konaklama Hizmeti</a></h5>
                        <p class="para editContent">
                            Anlaşmalı olduğumuz kurumlarda konaklama hizmeti sağlanır
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>