
<section class="w3l-recent-work">
    <div class="jst-two-col">
        <div class="container">
            <div class="row">
                <div class="my-bio cwp4-text col-lg-6">
                    <h3>Kız Kulesi</h3>
                    <p class="para mt-3 mb-lg-4 ">İstanbul, tarihi ve kültürel zenginlikleriyle ünlü bir şehir olmasının yanı sıra, eşsiz manzaralara sahip noktalarıyla da büyüleyici bir seyahat rotasıdır. Bu rotada keşfedilmesi gereken yerlerden biri de Kız Kulesi'dir. Kız Kulesi, İstanbul Boğazı'nda, Salacak açıklarında yer alan tarihi bir kule ve adacıktır. Eşsiz konumu ve etkileyici görüntüsüyle İstanbul'un sembollerinden biri haline gelmiştir.</p>
                    <a href="/Contact/Index/" class="action-button btn mt-4">İletişim</a>
                </div>
                <div class="col-lg-6 ">
                    <img src="/Templates/go-trip-starter/assets/images/kizkulesi.jpg" alt="product" class="img-responsive about-me">
                </div>
            </div>
        </div>
    </div>
</section>